.topnav {
    padding: 14px 16px;
    height: 50px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    width: 100vw;
    color: white;
}

.topnav div.left {
	float: left;
    width: 80vw;
}

.topnav div.right {
	float: right;
    width: 20vw;
    display: flex;
    flex-direction: row;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.right {
	float: right;
    padding-top: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
}

