<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
 <link th:href="@{/css/cssempstyle.css}" type="text/css" rel="stylesheet">
 <link th:href="@{/css/navigation.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="topnav">
		<div class="left">
	        <!--  <a th:href="@{/home}">Home</a>  -->
	        <a th:href="@{/index}">Home</a>
	        
	        <a th:href="@{/booking}">Booking</a>
	        <a class="active" th:href="@{/allbookings}">All Bookings</a>
	        <a th:if="${(isAdmin != null && isAdmin)}" th:href="@{/airline}">Airline</a>
	        <a th:if="${(isAdmin != null && isAdmin)}" th:href="@{/hotel}">Hotel</a>
	    </div>
	    <div class="right">
		  	<span>Welcome <b th:text="${loggedUser.name}"></b></span>
		  	<a href="#about" class="right" th:href="@{/logout}">Logout</a>
	    </div>
    </div>
	<div class="wrapper">		
		<div class="form_container">
		  <form name="form"  action="#" th:action="@{/booking/save}" th:object="${booking}" method="post">
		        <div class="heading">
		        	<h2>Bookings</h2>
		       </div>
				<div class="form_wrap">
					<div class="form_item">
						<label style="display: inline-block;">Trip Type:</label>
						<span id="spanTripType" th:field="*{wayType}" th:text="${booking.wayType}" /> 
					</div>
				</div>
				<div class="form_wrap">
					<div class="form_item">
						<label style="display: inline-block;">Date From:</label>
						<span id="spanDateFrom" th:field="*{dateFrom}" th:text="${booking.dateFrom}" /> 
					</div>
				</div>
				<div class="form_wrap">
					<div class="form_item">
						<label style="display: inline-block;">Date To:</label>
						<span id="spanDateFrom" th:field="*{dateTo}"  th:text="${booking.dateTo}" /> 
					</div>
				</div>
				<div class="form_wrap">
					<div class="form_item">
						<label style="display: inline-block;">Airline:</label>
						<span id="spanAirline" th:field="*{airlineName}" th:text="${booking.airlineName}" /> 
					</div>
				</div>
				<!--  th:if="${(booking.arrHostel != null && booking.arrHostel.size() > 0)}" -->
				<div class="form_wrap">
					<div class="form_item">
						<label style="display: inline-block;">Hotel:*</label>
						<select id="cmbHotel" th:field="*{hotelName}" required>
						    <option th:each="hotel: ${booking.arrHostel}" th:value="${hotel.hotelName}" th:text="${hotel.hotelName}">
						    </option>
						</select>
					</div>
				</div>
				<div class="btn">
				  <input type="submit" value="Register">
				</div>
		  </form>
		</div>
		<div id="conBooking" class="containerTable" th:if="${(bookingList != null && bookingList.size() > 0)}">
		  	<table id="tblBooking" class="table">
		  	  <thead>
				  <tr>
				  	<th></th>
				    <th>Airline Name</th>
				    <th>Hotel Name</th>
				    <th>Date From</th>
				    <th>Date To</th>
				    <th>Way Type</th>
				  </tr>
				</thead>
				<tbody id="tblBookingBody">
					<tr th:each="booking: ${bookingList}">
						<td>
							<a href="javascript:void(0)" th:onclick="@{'deleteBooking(' + ${booking.id} + ',event);'}">Cancel</a>
						</td>
						<td th:text="${booking.airline.airlineName}"></td>
						<td th:text="${booking.hotel.hotelName}"></td>
						<td th:text="${booking.dateFrom}"></td>
						<td th:text="${booking.dateTo}"></td>
						<td th:text="${booking.wayType}"></td>
					</tr>
				</tbody>
			 </table>
		  </div>
	  </div>
  	<script th:src="@{/js/allbooking.js}"></script>
</body>
</html>
