<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>
 <link th:href="@{/css/booking.css}" type="text/css" rel="stylesheet">
 
 <!-- css external link -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
   
 <link th:href="@{/css/navigation.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="topnav">
		<div class="left">
	       <!--   <a th:href="@{/home}">Home</a>  -->
	       <a th:href="@{/index}">Home</a>
	       
	        <a class="active" th:href="@{/booking}">Booking</a>
	        <a th:href="@{/allbookings}">All Bookings</a>
	        <a th:if="${(isAdmin != null && isAdmin)}" th:href="@{/airline}">Airline</a>
	        <a th:if="${(isAdmin != null && isAdmin)}" th:href="@{/hotel}">Hotel</a>
	    </div>
	    <div class="right">
		  	<span>Welcome <b th:text="${loggedUser.name}"></b></span>
		  	<a href="#about" class="right" th:href="@{/logout}">Logout</a>
	    </div>
    </div>
	 <div class="container">
		<div class="wrapper bg-white">
	        <form onsubmit="searchHandler(event)">
	            <div class="form-group border-bottom d-flex align-items-center justify-content-between flex-wrap">
	                <label class="option my-sm-0 my-2">
	                    <input type="radio" name="radioType" value="Round Trip" checked>Round Trip
	                    <span class="checkmark"></span>
	                </label>
	                <label class="option my-sm-0 my-2">
	                    <input type="radio" name="radioType" value="One Way">One Way
	                    <span class="checkmark"></span>
	                </label>
	                <div class="d-flex align-items-center my-sm-0 my-2">
	                   
	                </div>
	            </div>
	            <div class="form-group d-sm-flex margin">
	                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
	                    <input id="txtPlaceFrom" type="text" required placeholder="From" class="form-control">
	                    <div class="label" id="from"></div>
	                    <span class="fas fa-dot-circle text-muted"></span>
	                </div>
	                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
	                    <input id="txtPlaceTo" type="text" required placeholder="To" class="form-control">
	                    <div class="label" id="to"></div>
	                    <span class="fas fa-map-marker text-muted"></span>
	                </div>
	            </div>
	            <div class="form-group d-sm-flex margin">
	                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
	                    <input id="txtDateFrom" type="date" required placeholder="Depart Date" class="form-control">
	                    <div class="label" id="depart"></div>
	                </div>
	                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
	                    <input id="txtDateTo" type="date" required placeholder="Return Date" class="form-control">
	                    <div class="label" id="return"></div>
	                </div>
	            </div>
	            <div class="form-group my-3">
	                <button class="btn btn-primary rounded-0 d-flex justify-content-center text-center p-3" style="width: 100%;">Search Flights
	                </button>
	            </div>
	        </form>
	    </div>
	    <div id="conAirline" class="containerTable" style="display: none">
			  	<table id="tblAirline" class="table table-striped table-bordered">
			  	  <thead>
					  <tr>
					    <th>Airline Name</th>
					    <th>Airline Location From</th>
					    <th>Airline Location To</th>
					    <th>Airline Phone</th>
					    <th></th>
					  </tr>
					</thead>
					<tbody id="tblAirlineBody">
					</tbody>
				</table>
		</div>
	<script th:src="@{/js/common.js}"></script>
  	<script th:src="@{/js/booking.js}"></script>
</body>
</html>
